@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.navLogo {
  height: 34px;
  width: 124px;
}

.navLink {
  flex-grow: 1;
  justify-content: end;
  padding-right: 36px;
}

.propertyCardDetails {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px 0 16px;
}

h2.propertyCardLocation {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
}

span.lightTxt {
  font-weight: 500;
  font-size: 14px;
  color: #00000066;
}

.sortByCon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dropbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #0b5aa5;
  font-weight: 500;
}

.dropbtnBlack {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-weight: 500;
}

.typeOfSaleCon {
  display: flex;
  justify-content: space-between;
}

.EyeCon {
  display: flex;
  align-items: center;
  gap: 8px;
}

.saleTypePill {
  border: 1px solid #3a3a3a;
  padding: 5px 12px;
  border-radius: 25px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  gap: 7px;
  align-items: center;
}

.greenDot {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #00b67b;
  border-radius: 50%;
}

.propertyAmtCon {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  align-items: end;
}

.propertyAmt {
  color: #0b5aa5;
  font-size: 18px;
  font-weight: 600;
}

.blueAmt {
  color: #0b5aa5;
  font-size: 14px;
  font-weight: 600;
}

.propertyDiscrip {
  color: #00000080;
  font-size: 12px;
  font-weight: 400;
}

.dimAdd {
  font-size: 12px;
  font-weight: 400;
  color: #000000b2;
}

.daysIndicator {
  border-radius: 25px;
}

.whishHeart {
  font-size: 25px;
  color: #fff;
  font-weight: 900;
  top: 2px;
  right: 19px;
}

.whishHeart:hover {
  color: tomato;
}

.filterButton {
  display: flex;
  gap: 10px;
  border: 1px solid;
  padding: 7px 12px;
  border-radius: 8px;
  align-items: center;
}

.gratientBtn {
  background: #0e5293;
  background: linear-gradient(
    90deg,
    rgba(14, 82, 147, 1) 0%,
    rgba(40, 118, 193, 1) 60%
  );
  font-size: 14px;
  font-weight: 500;
}

.numberCon button {
  font-size: 14px;
  font-weight: 400;
}

.numberCon .callingTym {
  font-size: 12px;
  font-weight: 400;
}

.saveSearchBtn {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 50px;
  padding: 9px 18px;
  background-color: #fff;
  color: #000;
  border: 1px solid;
}

.selectFocus {
  border: 1px solid #0e5293;
  color: #0e5293;
}

.searchBtnCon {
  display: flex;
  gap: 13px;
  align-items: center;
}

.searchInputBorder {
  border: 2px solid #0e5293;
  padding: 3px 6px 3px 15px;
}

.listingCon {
  margin-right: 30px;
  /* height: 100%;
  overflow-y: scroll; */
}

/* .listingCon::-webkit-scrollbar {
  width: 2px;
}
 
.listingCon::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.listingCon::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

.zIndex {
  z-index: 999;
}

.mobDiplayNoneHead {
  display: flex;
  gap: 36px;
}

.profileBtn {
  display: none;
}

.navMob {
  flex-grow: unset;
  justify-content: unset;
}

.serachInputBorderCon {
  display: flex;
  gap: 15px;
  flex-grow: 1;
}

.mobileFilter {
  display: none;
}

button.mapBtn {
  display: none;
}

@media (max-width: 1257px) {
  .navLink {
    flex-grow: 1;
    justify-content: end;
    padding-right: 36px;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .listingCon {
    margin-right: 0px;
    padding: 15px;
  }

  .numberCon .callingTym {
    display: none;
  }

  .mobDiplayNoneHead {
    display: none;
  }

  .navMob {
    flex-grow: 1;
    justify-content: space-between;
  }

  .profileBtn {
    display: inline-block;
  }

  .filterButton {
    display: none;
  }
  .mobileFilter {
    display: flex;
    border: 2px solid #0e5293;
    border-radius: 50px;
    height: 43px;
    width: 45px;
    align-items: center;
    justify-content: center;
  }
  h2.propertyCardLocation {
    margin-top: 0px;
  }
  button.mapBtn {
    display: flex;
    gap: 10px;
    background-color: #0b5aa5;
    color: #fff;
    padding: 10px 18px;
    border-radius: 25px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 9999;
  }
  .navLink {
    /* flex-grow: 1; */
    padding-right: 36px;
    gap: 10px;
    /* height: 100vh; */
    z-index: 99999;
    justify-content: flex-start;
    align-items: baseline;
  }
  .dropdown-content {
    display: none;
    position: relative;
    left: 0;
    background-color: #efefef;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
    width: 93vw;
  }
}
